*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(rgb(132, 255, 218), rgb(5, 235, 127));
    height: 100vh;
}
#logo{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}
h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
#container{
    background-color: aqua;
    height: 60vh;
    width: 70vh;
    margin: auto;
    padding: 3px;
    overflow-y: auto;
}
.message{
    background-color: rgb(172, 211, 211);
    margin: 3px 4px;
    padding: 4px 3px;
    width: 60%;
    border-radius: 6px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
.center{

}


#send{
    display: flex;
    align-items: center;
}
#send-container{
    display: block;
    margin: auto;
    width: 70vh;
    text-align: center;
}
#msg{
    height: 25px;
    width: 80%;
    border-radius: 20px;
    outline: none;
    padding:0px 5px;
}
.btn{
    width: 9%;
    border-radius: 18px;
    padding: 3px;
    background-color: rgb(0, 180, 120);
}